Flask
pymongo
requests
dnspython
{
  "builds": [
    {
      "src": "app.py",  // আপনার Flask অ্যাপ্লিকেশনের ফাইলের নাম, যদি app.py না হয়ে অন্য কিছু হয়, তবে সেই নাম দিন।
      "use": "@vercel/python"
    }
  ],
  "routes": [
    {
      "src": "/(.*)",
      "dest": "app.py" // আপনার Flask অ্যাপ্লিকেশনের ফাইলের নাম
    }
  ]
}
